Checks: '
  *,
  -altera-id-dependent-backward-branch,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -boost-use-ranges,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -hicpp-no-malloc,
  -llvm-header-guard,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-inline-function-decl,
  -llvmlibc-restrict-system-libc-headers,
  -misc-no-recursion,
  -modernize-use-trailing-return-type,
  -portability-template-virtual-member-function,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
'
HeaderFilterRegex: '.*'
WarningsAsErrors: '*'
